@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: hsl(0, 0%, 8%);
}

main {
    width: 80%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
    padding: 1.25rem;
    border-radius: 10px;
}

img {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 5rem;
    margin: 0em auto 1.5em;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    margin: 0.25em 0;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    color: hsl(75, 94%, 57%);
    margin: 0.75em 0 1.5em;
}

p {
    color: white;
    font-size: 0.75rem;
    text-align: center;
    margin: 1em 0 1.5em;
}

ul {
    list-style-type: none;
}

li {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1em;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
}

li:hover {
    background-color: hsl(75, 94%, 57%);
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 0.8em 0;
}

a:hover {
    color: black;
}